page-home {
    .imgInicio {
        padding-top: 2%;
        text-align: center;
    }
    .btn {
        margin-top: 15%;
    }
    .sinpading {
        margin-top: 0;
    }
    .contenedor {
        position: fixed;
    }
}